html {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    background: #efefef;
}

.container {
    position: absolute;
    width: 100%;
    top: 50%;
}

    .frame {
        display: inline-block;
        font-family: 'Press Start 2P';
        font-size: 16pt;
    }

canvas {
    margin: 0 auto;
}

/* Javascript gets image filenames from here - hack for Grunt usemin */
img.gettable {
    display: none;
}
